/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fahkwang|Indie+Flower|Nanum+Gothic');

$gothic:'Nanum Gothic', sans-serif;
$cursive:'Indie Flower', cursive;
$fawk:'Fahkwang', sans-serif;