/* a Btn Styles */

.btn{
    
    border: 1px $primary outset;
    color: $link-color;
    text-decoration: none;
    margin: 0 auto;
    &:hover{
        background-color: $hover;
    }
}
.btn-md{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px
}
.btn-success{
    background: $success;
}
.btn-success{
    background: $primary;
}