/* Base */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Laila|Lora|Montserrat|Roboto+Condensed");
/* Colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Components*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(51, 115, 87, 0.8);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  list-style: none;
  padding-top: 5px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 10px;
}

.navbar ul li a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(238, 245, 219, 0.8);
  text-shadow: 1px 1px 1px rgba(24, 31, 28, 0.9);
}

.brand {
  font-family: "Lora", serif;
  color: rgba(24, 31, 28, 0.8);
  text-shadow: 1px 1px 2px rgba(238, 245, 219, 0.4);
}

aside {
  position: fixed;
  width: 220px;
  height: calc(100vh - 50px);
  top: 50px;
  background: rgba(51, 115, 87, 0.8);
  margin: 0px auto;
  padding-left: 5px;
  -webkit-transition: all .300s ease-in-out;
  transition: all .300s ease-in-out;
}

@media only screen and (max-width: 640px) {
  aside {
    width: 30px;
  }
  aside .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside .icons > div {
    margin-left: -5px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

aside .icons, aside .blog-links {
  padding: 6px;
  margin-top: 10px;
  width: 95%;
  -webkit-box-shadow: 1px 1px 10px rgba(24, 31, 28, 0.2);
          box-shadow: 1px 1px 10px rgba(24, 31, 28, 0.2);
  border-radius: 5px;
}

aside .icons a, aside .blog-links a {
  color: rgba(238, 245, 219, 0.8);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(24, 31, 28, 0.9);
}

aside .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(204, 204, 204, 0.3);
}

aside .blog-links {
  background-color: rgba(245, 251, 239, 0.3);
  -webkit-transition: all .300ms ease-in-out;
  transition: all .300ms ease-in-out;
}

@media only screen and (max-width: 640px) {
  aside .blog-links {
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}

aside .uid {
  color: #EEF5DB;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-shadow: 1px 1px 2px rgba(24, 31, 28, 0.6);
  width: 95%;
  height: auto;
}

@media only screen and (max-width: 640px) {
  aside .uid {
    height: 100px;
  }
}

aside .uid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .uid > div a {
  color: rgba(238, 245, 219, 0.8);
  padding: 1px 15px;
  text-shadow: 1px 1px 2px rgba(24, 31, 28, 0.6);
  font-size: 1rem;
  border-radius: 10px;
}

.content {
  position: relative;
}

.content .content-wrapper {
  margin-left: 240px;
  margin-top: 60px;
  -webkit-transition: collapse .400s ease-in-out;
  transition: collapse .400s ease-in-out;
}

@media only screen and (max-width: 640px) {
  .content .content-wrapper {
    margin-left: 50px;
  }
}

/* Modules */
.form-container {
  width: 100%;
  height: 150vh;
  padding: 0 auto;
  position: relative;
}

.container {
  width: 50%;
  height: auto;
  background: rgba(51, 115, 87, 0.5);
  margin: 50px auto;
  -webkit-box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.9);
          box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.9);
  border-radius: 5px;
}

.container h1 {
  font-family: "Lora", serif;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(238, 245, 219, 0.8);
}

input {
  width: 90%;
  margin: 2.5% 5%;
  height: 30px;
  padding: 5px 10px;
}

input[type=submit] {
  display: inline-block;
  background: #F5FBEF;
  color: #337357;
  border: 0 outset #EEF5DB;
  -webkit-box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.8);
          box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.8);
}

input[type=checkbox] {
  width: 15px;
}

label {
  width: 50%;
  color: #EEF5DB;
  display: block;
  margin-left: 13px;
}

textarea {
  width: 90%;
  height: 300px;
  margin: 1.5% 5%;
}

.error {
  margin-left: -240px;
  color: #EEF5DB;
}

.error ul {
  position: absolute;
  top: 20px;
  list-style: none;
  padding: 5px;
  z-index: 11;
}

.error li {
  margin: 5px 5px;
}

.calendar-container {
  position: relative;
  width: 100%;
  -webkit-transition: all .300s ease-in-out;
  transition: all .300s ease-in-out;
  overflow: hidden;
  display: block;
}

@media only screen and (max-width: 640px) {
  .calendar-container {
    width: 20px;
  }
}

.calendar {
  width: 95%;
  border-spacing: 0px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
  -webkit-box-shadow: 3px 3px 15px rgba(24, 31, 28, 0.2);
          box-shadow: 3px 3px 15px rgba(24, 31, 28, 0.2);
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all .300s ease-in-out;
  transition: all .300s ease-in-out;
}

@media only screen and (max-width: 640px) {
  .calendar {
    position: absolute;
    opacity: 0;
  }
}

.calendar caption {
  background: rgba(51, 115, 87, 0.8);
  font-weight: 900;
  color: #181F1C;
  text-transform: uppercase;
}

.calendar caption .cal-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border: 0;
}

.calendar caption .cal-head-container > div {
  font-family: "Lora", serif;
  text-shadow: 1px 1px 1px rgba(24, 31, 28, 0.9);
}

.calendar caption .cal-head-container > div:nth-of-type(even) {
  text-shadow: 1px 1px 1px rgba(238, 245, 219, 0.3);
}

.calendar caption a {
  font-size: .9em;
  padding: 10px auto;
  color: rgba(238, 245, 219, 0.5);
}

.calendar td {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  width: 14%;
  height: 20px;
  -webkit-box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.2);
          box-shadow: 1px 1px 5px rgba(24, 31, 28, 0.2);
  text-shadow: 1px 1px 1px rgba(24, 31, 28, 0.9);
}

.calendar .day {
  font-weight: 900;
  color: #eef5db;
  font-size: .6rem;
}

.calendar .header {
  background: rgba(51, 115, 87, 0.9);
  color: rgba(204, 204, 204, 0.4);
  font-size: .75em;
  text-shadow: 1px 1px 1px rgba(24, 31, 28, 0.9);
}

.calendar tr:nth-of-type(odd) {
  background-color: rgba(204, 204, 204, 0.3);
}

.calendar tr:nth-of-type(even) {
  background-color: rgba(245, 251, 239, 0.3);
}

.calendar .today {
  border: 1px outset transparent;
  -webkit-box-shadow: 1px 1px 15px #eef5db;
          box-shadow: 1px 1px 15px #eef5db;
}

.calendar .lastmonth {
  font-size: .6rem;
  font-weight: 900;
  color: rgba(238, 245, 219, 0.5);
}

.flash {
  background: lightgreen;
  color: #181F1C;
  width: 25%;
  margin: 10px auto;
}

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* TABS */
.w3-container {
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */