@mixin triangle($size, $side, $left: 0, $top:0, $color:#ee6352) {
        position: relative;
        &::after{
            content: '';
        position: absolute;
        
        left: $left;
        top: $top;

        border: $size solid transparent;
        border-#{$side}-color:  $color;
        }
}