/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
$roboto:'Roboto', sans-serif;
$raleway:'Raleway', sans-serif;

/* Colors */

$primary: #022B3A;
$metalic-seaweed: #1F7A8C;
$pale-aqua:#BFDBF7;
$azurish-white:#E1E5F2;
