aside{
    position: fixed;
    width: 220px;
    height: calc(100vh - 50px);
    top:50px;
    background: rgba($green,.8);
    margin: 0px auto;
    padding-left: 5px;
    transition: all .300s ease-in-out;
    @media only screen and(max-width:640px){
        width: 30px;
        .icons{
            flex-direction: column;
            &> div{
                margin-left: -5px;
                margin-right: 10px;
                margin-bottom: 30px;
            }
        }
        
    }
    
    .icons, .blog-links{
        padding: 6px;
        margin-top: 10px;
        width: 95%;
        box-shadow: 1px 1px 10px rgba($black,.2);
        
        border-radius: 5px;
        a{
            color: rgba($brown, .8);
            text-decoration: none;
            text-shadow: 1px 1px 1px rgba($black,.9);
        }
    }
    .icons{
        display: flex;
        justify-content: space-evenly;
        background: rgba($light-gray,.3);
        
    }
    .blog-links{
        background-color:rgba($lighter-gray, .3);
        transition: all .300ms ease-in-out;
        @media only screen and(max-width:640px){
            width: 20px;
            height: 20px;
            opacity: 0;

        }
    }
    
    .uid{
       
        color: $brown;
        font-family: $montserrat;
        font-size: 0.75rem;
        //font-weight: 700;
        text-shadow: 1px 1px 2px rgba($black, .6); 
        //box-shadow: 1px 1px 2px rgba($black, .6); 
        width: 95%;
        //padding: 15px auto;     
        height: auto;
        @media only screen and (max-width: 640px){
            height: 100px;
        }
        
        &> div{
            display: flex;
            justify-content: space-between;
           
            a{
                color: rgba($brown, .8);
                padding: 1px 15px;
                text-shadow: 1px 1px 2px rgba($black, .6); 
                //box-shadow: 1px 1px 2px rgba($black, .6); 
                font-size: 1rem;
                border-radius: 10px;
                // width: 50px;
                // height: 20px;
                // text-align: center;
                
            }
            
        }      
}
    
}
