header{
    position: fixed;
    
    background: black;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
}
.navbar{
    display: flex;
    
}
menu{
    ul{
        list-style: none;
    }
}