/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat');

$montserat : 'Montserrat', sans-serif;
$merriweather : 'Merriweather', serif;

/* Colors */

$bg : #f6f1ed;
$dark : #30231d;
$text:#50413c;
$link: #cc3914;