/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Laila|Lora|Montserrat|Roboto+Condensed');
//$laila: 'Laila', serif;
$montserrat:'Montserrat', sans-serif;
$robotocondensed:'Roboto Condensed', sans-serif;
$laila: 'Lora', serif;
/* Colors */

$green:/*#274029;//*/#337357;//#6D9F71;
$black: #181F1C;
$brown: #EEF5DB;// #A62639;
$lighter-gray: #F5FBEF; //#efefef;
$light-gray: #ccc;